@{
    Layout = "_Layout";
}
@Model
<table border="1" cellpadding="2" cellspacing="2">
    <tr>
        <th>Anagrams</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AnagramWord</td>
        </tr>
    }
</table>