
<table border="1" cellpadding="2" cellspacing="2">
    <tr>
        <th>Word</th>
    </tr>
    @foreach (var item in ViewBag.newList)
    {
        <tr>
            <td><a>@Html.ActionLink($"{@item.Word}", "Details", new { @id = @item.Word })</a></td>
        </tr>
    }
</table>
