@{
    ViewData["Title"] = "Home Page";
}

<h3><b>Form</b></h3>

<form action="Form" method="post">
    <table>
        <tr>
            <td>Enter Word you wish to see anagrams of: </td>
            <td><input type="text" name="txtWord" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit Form" /></td>
        </tr>
    </table>
</form>
