@{
    ViewData["Title"] = "Home Page";
}
<a href="api/getvocabulary" download>Download Vocabulary</a>
<br />

<input type="text" name="word" id="wordForAnagram"/>
<button onclick="searchAnagrams()">Search for anagrams</button>
<h3>Anagrams</h3>
<textarea id="getAnagram"></textarea>
<script type="text/javascript">

    function searchAnagrams() {
        var word = document.getElementById('wordForAnagram').value;
        $.get(`/anagramapi/getForJS/${word}`, function (data) {
            data.forEach(element => console.log(element));
            document.getElementById("getAnagram").value = data;
        });

    }

</script>

